@page
@model RegisterModel
@{
    ViewData["Title"] = "Nuevo Usuario";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Nuevo Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Nombre" class="control-label"></label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Apellidos" class="control-label"></label>
                <input asp-for="Input.Apellidos" class="form-control" />
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Cedula" class="control-label"></label>
                <input asp-for="Input.Cedula" class="form-control" />
                <span asp-validation-for="Input.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Telefono" class="control-label"></label>
                <input asp-for="Input.Telefono" class="form-control" />
                <span asp-validation-for="Input.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Role" class="control-label"></label>
                <select asp-for="Input.Role" class="form-control" asp-items="@(ViewData["Roles"] as SelectList)"></select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-controller="AspNetUsers" asp-action="Index" class="btn btn-default px-3 me-2">Volver</a>
                <button id="registerSubmit" type="submit" class="btn" style="background-color: #9c3840; color: white;">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
