@model IEnumerable<ProyectoPAW.Models.TcursoUsuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<br />
<p>
    <a asp-action="Create" class="btn" style="background-color: #9c3840; color: white;">Agregar usuarios al curso</a>
</p>
<br />
<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Curso.Nombre)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Usuario.Nombre)</p>
                    <form asp-action="Delete" asp-route-cursoId="@item.CursoId" asp-route-usuarioId="@item.UsuarioId" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario del curso?');">
                        <button type="submit" class="btn btn-default px-3 me-2">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
