@model ProyectoPAW.Models.TcursoRecetum

@{
    ViewData["Title"] = "Agregar receta al curso";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h4>Agrega una receta al curso</h4>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="CursoId" class="control-label">Curso</label>
                    <select asp-for="CursoId" class="form-control" asp-items="ViewBag.Cursos"></select>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="RecetaId" class="control-label">Receta</label>
                    <select asp-for="RecetaId" class="form-control" asp-items="ViewBag.Recetas"></select>
                </div>
                <br />
                <div class="form-group text-center">
                    <a asp-action="Index" class="btn btn-default px-3 me-2">Volver a la lista</a>
                    <input type="submit" value="Agregar" class="btn" style="background-color: #9c3840; color: white;" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
