@model IEnumerable<ProyectoPAW.Models.Treceta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<p>
    <a asp-action="Create">Crear nueva receta</a>
</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta receta?');">
                        <button type="submit" class="btn btn-link">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
