
<br />
<br />
<br />
<div>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="display-4 text-center">¡Aprendiendo a Cocinar!</h1>
                    <p class="lead text-center">Prepárate para descubrir nuevos sabores, experimentar con ingredientes frescos y crear platos que deleitarán a tus seres queridos. ¡Únete a nosotros en este viaje gastronómico y despierta tu pasión por la cocina!</p>
                    <div class="text-center">
                        <a href="#" class="btn text-white" style="background-color:#9c3840">Más información</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">¿Quiénes somos?</h2>
                    <div class="row">
                        <div class="col-md-24">
                            <p> En CulinaryCraft Academy, somos un equipo apasionado por la gastronomía que busca inspirar a las personas a descubrir el placer de cocinar. Con una amplia experiencia en la industria culinaria, nuestro equipo de chefs expertos está dedicado a compartir su conocimiento y pasión a través de nuestros cursos especializados. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Aprende sobre:</h2>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-hand-holding-heart"></i>- Cocina Italiana</li>
                        <li><i class="fas fa-hands-helping"></i>- Cocina Asiática</li>
                        <li><i class="fas fa-share-square"></i>- Cocina Mediterránea</li>
                        <li><i class="fas fa-share-square"></i>- Cocina Mexicana</li>
                        <li><i class="fas fa-share-square"></i>- Y más...</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Contacto</h2>
                    <p>Puedes contactarnos para obtener más información sobre nuestro trabajo y nuestros productos.</p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-envelope"></i> Correo electrónico: cursos@aprendeacocinar.com - </li>
                        <li><i class="fas fa-envelope"></i> info@aprendeacocinar.com</li>
                        <li><i class="fas fa-phone"></i> Teléfono: 555-123-456</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
