@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

    @* saca el usuario actual junto con sus identidades *@
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    @* Se saca el rol y si no lo tiene se asigna uno *@
    var roleOfUser = claimsIdentity != null ? claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value : "Estudiante";

    <h1>Home usuario loggeado</h1>


    if (roleOfUser == "Administrador")
    {
        <h1>Este usuario es Administrador</h1>
    }
    else if (roleOfUser == "Profesor")
    {
        <h1>Este usaurio es Profesor</h1>
    }
    else if (roleOfUser == "Estudiante")
    {
        <h1>Este usuario es Estudiante</h1>
    }
}
else
{
    <h1>Home usuario sin loggear</h1>
    <h1>Por favor inicie sesión</h1>
}
